<!-- <div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{index + 1}}. {{listNeighbor.name}} {{listNeighbor.lastname}} {{listNeighbor.position}} {{listNeighbor.salary}}

        <button class="btn btn-primary" [routerLink]="[ '/update', index]" [queryParams]="{action: '1'}">Update</button>

        <button class="btn btn-primary" [routerLink]="[ '/update', index]" [queryParams]="{action: '2'}">Delete</button>
      
        <a [routerLink]="[ '/update', index]" [queryParams]="{action: '1'}">
          Update
        </a>

        <a [routerLink]="[ '/update', index]" [queryParams]="{action: '2'}">
          Delete
        </a>
      </div>

      <app-features-employee (featuresEmployee)="addFeature($event)"></app-features-employee>
  
        <ul style="list-style: none;">
          <li *ngFor="let feature of arrayFeatures">{{feature}}</li>
        </ul>
    </div>
  </div>
</div> -->