<div class="container">
  <div class="abs-center">
    <form action="#" class="border p-3 form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" #email>
      </div>
      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" #password>
      </div>
      <br>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary" (click)="submitData()">Registrar</button>
      </div>
    </form>
  </div>
</div>